<ol>
	<% @output.each do |object| %>
		<li><a href="<%=@item%>/<%= object.name.downcase.gsub(".", "") %>"><%= object.format %></a></li>
	<% end %>
</ol>
<p>Total: <%= "#{@output.size} #{@item}"%> in the library</p>
<a href="/">Home</a>